.miten__card {
	vertical-align: middle;
	text-align: center;
	margin: auto auto;
	width: 500px;
	margin-top: 55px;

	h1.miten__title {
		padding: 0px;
		margin: 0px;
		font-size: 55px;

		font-family: 'Kaushan Script', cursive;
	}

	p.miten__description {
	}
}